/* Python module written by Timothy Farrell */
html {
cursor: text
}
.editbox {
padding: 50px;
margin: 0;
font-family: 'Monaco','Lucida Console',monospace;
font-size: 13px;
line-height: 19px;
color: #EBE7E3;
background: #2b2b2b;
box-shadow: inset 0 0 10px #000;
-moz-box-shadow: inset 0 0 10px #000;
-webkit-box-shadow: inset 0 0 10px #000
}
pre.code,.editbox {
color: #EBE7E3
}
.editbox p {
margin: 0
}
span.py-delimiter,span.py-special {
color: #D4DAFE
}
span.py-operator {
color: #80AAC6
}
span.py-error {
}
span.py-keyword {
color: #EBE7E3
}
span.py-literal {
color: #EBE7E3
}
span.py-identifier,span.py-func {
color: #EBE7E3
}
span.py-type,span.py-decorator {
color: #EBE7E3
}
span.py-comment {
color: #FECA74
}
span.py-string,span.py-bytes,span.py-raw,span.py-unicode {
color: #ABC976
}
