html {
  cursor: text;
  overflow: auto;
}
body {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.editbox {
  padding: 50px;
  margin: 0;
  font-family: 'Monaco','Lucida Console',monospace;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
  background: #212121;
}

.editbox p {
  margin: 0;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #333;
}

.editbox span.paragraph,
.editbox span.title,
.editbox span.unordered-list-item,
.editbox span.ordered-list-item,
.editbox span.rule,
.editbox span.link {
  color: #aaa;
}

.editbox span.bold {
  font-weight: bold;
}

.editbox span.underline {
  text-decoration: underline;
}

.editbox span.strikethrough {
  text-decoration: line-through;
}

.editbox span.italic {
  font-style: italic;
}

.editbox span.subscript {
  font-size:70%;
  vertical-align: sub;
  margin-left:-0.1em;
}

.editbox span.superscript {
  font-size:70%;
  vertical-align: super;
  margin-left:-0.1em;
}

.editbox span.blockquote {
  color: #aaa;
  margin-left: 30px;
}

.editbox span.nochange {
}
