/** Editor */

#editbox {
  position: absolute;
  left: 50px;
  right: 60px;
  top: 50px;
  bottom: 50px;

  margin: 0px auto 0px auto;
  max-width: 888px;
  overflow: hidden;

  background: #f8f8f7;
  -webkit-box-shadow: 1px 1px 1px #d8d8d8;
  -moz-box-shadow: 1px 1px 1px #d8d8d8;
  box-shadow: 1px 1px 1px #d8d8d8;
  border: 1px solid #C6C9CB;
}
#editor {
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 10px;
  right: 10px;

  font-family: 'Monaco','Lucida Console',monospace;
  font-size: 15px;
  line-height: 25px;
  color: #111;

  overflow-x: hidden !important;
  overflow-y: auto;
}
#editor p {
  margin: 0;
}

/* Selected text */

::-moz-selection {
  background: #4E8DED;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4E8DED;
  color: #fff;
  text-shadow: none;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* Track */
  background: #f8f8f7;
}
::-webkit-scrollbar-thumb {
  /* Handle */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-corner {
  background: #f8f8f7;
}
