
/*! normalize.css 2011-06-27T20:08 UTC · http://github.com/necolas/normalize.css */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1}html{font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}body,button,input,select,textarea{font-family:sans-serif}a{color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{margin:0 2px;padding:.35em .625em .75em}legend{border:0;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}



/* Escrito */

@media screen {
  html, body {
    overflow: hidden;
  }
  body {
    font-size: 12px;
    color: #111;
    background: #F1F1F1;
    font-family: helvetica, arial, sans-serif;
  }
  ::-moz-selection{ background: #4E8DED; color:#fff; text-shadow: none; }
  ::selection { background: #4E8DED; color:#fff; text-shadow: none; }

  header, #toolbar {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 555px;
    z-index: 1000;
    height: 40px;
  }
  #toolbar {
    padding: 5px;
    padding-left: 15px;
    height: 24px;
    background-color: rgba(230, 230, 230, 0.9);
    -webkit-box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.4),
      0 0 0 1px rgba(0, 0, 0, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.4),
      0 0 0 1px rgba(0, 0, 0, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.4),
      0 0 0 1px rgba(0, 0, 0, 0.2),
      0 1px 2px rgba(0, 0, 0, 0.25);
    border-bottom: 1px dotted #222;
    z-index: 500;
  }
  #toolbar .logo {
    background: url('../images/logo.png') no-repeat;
    position: absolute;
    margin-top: 3px;
    width: 60px;
    height: 15px;
  }
  #toolbar .code, #toolbar .preview {
    position: absolute;
    left: 95px;
    padding-top: 4px;
    text-transform: uppercase;
    color: #333;
    font-family: 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
  }
  #toolbar #switch {
    position: absolute;
    left: 147px;
    width: 80px;
    z-index: 1000;
  }
  #toolbar .preview {
    left: 240px;
  }
  #toolbar #language-menu {
    position: absolute;
    padding-top: 1px;
    right: 181px;
  }
  #toolbar .import-button {
    position: absolute;
    padding: 1px;
    right: 115px;
    z-index: 1000;
  }
  #toolbar #export-menu {
    position: absolute;
    padding-top: 1px;
    right: 60px;
  }
  #toolbar .print-button {
    position: absolute;
    padding: 1px;
    right: 5px;
  }

  #code {
    display: none;
  }

  #preview {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  #toolbar-tip {
    position:absolute;
    top: 52px;
    right: 10px;
    width: 37px;
    height: 50px;
    background-image: url('../images/toolbar-tip.png');
  }

  #desk {
    margin: 0 auto 50px auto;
    max-width: 1035px;
  }

  #paper {
    padding: 50px 72px 50px 72px;
    margin: 50px 55px;
    min-height:1500px;

    background: #fff;
    -webkit-box-shadow: 1px 1px 1px #d8d8d8;
    -moz-box-shadow: 1px 1px 1px #d8d8d8;
    box-shadow: 1px 1px 1px #d8d8d8;
    border: 1px solid #C6C9CB;
  }
}

/* Preview panel */

#paper h1 a, #paper h2 a, #paper h3 a,
#paper h4 a, #paper h5 a, #paper h6 a { font-weight: inherit; }

#paper {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 13.3pt;
  word-spacing: .1em;
  color: #252519;
}
#paper p {
  text-align: justify;
  line-height: 26px;
  color: #222;
}
#paper p img {
    margin: 0;
}
#paper a {
  color: #261a3b;
}
#paper a:visited {
  color: #261a3b;
}
#paper pre, #paper tt, #paper code {
  font-size: 12px; line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}
#paper.hover {
  -webkit-box-shadow: 0 0 30px rgba(78,141,237,.5);
  -moz-box-shadow: 0 0 30px rgba(78,141,237,.5);
  box-shadow: 0 0 30px rgba(78,141,237,.5);
}

#paper hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* Tables */

#paper table {
  font-size: 14px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 30px;
}
#paper th {
  font-size: 17px;
  font-weight: normal;
  border-bottom: 2px solid #222;
  padding: 10px 8px;
}
#paper td {
  padding: 10px 8px 0;
}

/* Blockquotes (from getskeleton.com) */

#paper blockquote, #paper blockquote p { font-size: 17px; line-height: 24px; color: #444; font-style: italic; }
#paper blockquote { margin: 0 0 20px; padding: 0 0 0 19px; border-left: 1px solid #ddd; }
#paper blockquote cite { display: block; font-size: 12px; color: #444; }
#paper blockquote cite a, #paper blockquote cite a:visited, #paper blockquote cite a:visited { color: #444; }

/* Links (from getskeleton.com) */

#paper a, #paper a:visited { color: #333; text-decoration: underline; outline: 0; }
#paper a:hover, #paper a:focus { color: #000; }
#paper p a, #paper p a:visited { line-height: inherit; }

/* Lists (from getskeleton.com) */

#paper ul, #paper ol {
    margin-bottom: 20px;
}
#paper ul {
    list-style: square outside;
}
#paper ol {
    list-style: decimal;
}
#paper ol, #paper ul.square, #paper ul.circle, #paper ul.disc {
    margin-left: 30px;
}
#paper ul.square {
    list-style: square outside;
}
#paper ul.circle {
    list-style: circle outside;
}
#paper ul.disc {
    list-style: disc outside;
}
#paper ul ul, #paper ul ol,
#paper ol ol, #paper ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}
#paper ul ul li, #paper ul ol li,
#paper ol ol li, #paper ol ul li {
    margin-bottom: 6px;
}
#paper li {
    line-height: 24px;
    margin-bottom: 12px;
}
#paper ul.large li {
    line-height: 21px;
}
#paper li p {
    line-height: 21px;
}

/** Editor */

#editbox {
  position: absolute;
  left: 50px;
  right: 60px;
  top: 50px;
  bottom: 50px;

  margin: 0 auto 0 auto;
  max-width: 923px;
  overflow: hidden;

  background: #f8f8f7;
  -webkit-box-shadow: 1px 1px 1px #d8d8d8;
  -moz-box-shadow: 1px 1px 1px #d8d8d8;
  box-shadow: 1px 1px 1px #d8d8d8;
  border: 1px solid #C6C9CB;
}
#editor {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 10px;

  font-family: 'Monaco','Lucida Console',monospace;
  font-size: 15px;
  line-height: 25px;
  color: #111;

  overflow-x: hidden;
  overflow-y: auto;
}
#editor p {
  margin: 0;
}

/* Selected text */

::-moz-selection {
  background: #4E8DED;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #4E8DED;
  color: #fff;
  text-shadow: none;
}

/* Scrollbars */

#editbox ::-webkit-scrollbar {
  width: 10px;
}
#editbox ::-webkit-scrollbar-track {
  /* Track */
  background: #f8f8f7;
}
#editbox ::-webkit-scrollbar-thumb {
  /* Handle */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
#editbox ::-webkit-scrollbar-corner {
  background: #f8f8f7;
}


/* Others */

mark {
  background-color: #FFFFB3;
  font-weight: bold;
  padding: 1px;
  text-shadow: none;
}
.big {
  font-size: 13px;
  line-height:20px;
}
.bigger {
  font-size: 15px;
  line-height:20px;
}

/* Printable version */

@media print {
  header {
    display: none;
  }
  #paper {
    zoom: 85%;
    font-size: 16px;
  }
  @page {
    counter-increment: page;
    margin: 8%;
  }
}



/* Scrollbars */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* Track */
}
::-webkit-scrollbar-thumb {
  /* Handle */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}


/* Menus */

@media screen {
  .menu {
    width: 150px;
    height: 200px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lucida Grande', sans-serif;
  }

  div.menu {
    border: 0;
    outline: 0;
    margin-bottom: 20px;
  }

  div.menu div:first-child {
    position: relative;
    clear: both;
  }

  .return-button:active {
    -webkit-box-shadow:
      inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgb(140, 140, 140),
      0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:
      inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgb(140, 140, 140),
      0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow:
      inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
      0 0 0 1px rgb(140, 140, 140),
      0 1px 1px rgba(0, 0, 0, 0.3);
  }

  a.opener, .return-button, a.return-button:visited {
    background-color: #d3d3d3;

    -webkit-box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 1px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgb(130, 130, 130),
      0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 1px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgb(130, 130, 130),
      0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.6),
      0 1px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgb(130, 130, 130),
      0 1px 2px rgba(0, 0, 0, 0.25);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    color: #333;
    font: 11px/20px 'Lucida Grande', sans-serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    -webkit-background-clip: padding-box;
    -webkit-transition: .5s color background text-shadow border;
    float: right;
    z-index: 4;
    right: 0;
    padding: 1px 10px 1px 10px;

    text-decoration: none;
  }

  a.opener-left, .return-button-left {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  a.opener-right, .return-button-right {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  a.opener.open {
    background: #111;
    color: #fafafa;
    text-shadow: none;
    border-top: 1px solid #555;
    margin-top: -1px;

    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    -webkit-box-shadow: 0 1px 0 #111, 0 0 1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 0 #111, 0 0 1px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 0 #111, 0 0 1px rgba(0, 0, 0, .4);
  }

  ul.popup.open {
    opacity: 1;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    margin: 0;
  }

  .left ul.popup.open {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
  }

  ul.popup {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .4), 0 3px 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .4), 0 3px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px rgba(0, 0, 0, .4), 0 3px 4px rgba(0, 0, 0, .2);

    -webkit-background-clip: padding-box;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background: #111;
    padding: 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    opacity: 0;
    z-index: 3;
    display: none;
    -webkit-transition: .3s;
    clear: both;
    list-style: none;
  }

  ul.popup li:last-child {
    border: 0;
  }

  ul.popup li a:hover, li.submenu:hover a.title {
    background: #4E8DED;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .01);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .01);
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .01);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    color: #fff;
  }

  ul.popup li a {
    color: #fafafa;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
  }

  ul.popup li span {
    color: gray;
    display: block;
    padding: 8px 10px;
  }

  ul.popup li.separator {
    padding: 0;
    height: 1px;
    background: #eee;
    margin: 10px;
  }

  ul.popup li.separator:hover {
    -webkit-box-shadow: none;
    background: #fafafa;
  }


  /* Tipsy (for the tooltips - jquery.tipsy)) */

  .tipsy { font-size: 12px; font-family: 'Lucida Grande', sans-serif; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #fafafa; max-width: 130px; padding: 8px 8px 8px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

  /* Uncomment for shadow */
  .tipsy-inner {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  }

  .tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }

  .tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none; }
  .tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
  .tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
  .tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
  .tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
  .tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
  .tipsy-e .tipsy-arrow { right: 0; border-right: none; }
  .tipsy-w .tipsy-arrow { left: 0; border-left: none; }
}


/*  HTML5 ✰ Boilerplate  */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; /* color: black !important; */ text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } */
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  /* @page { margin: 0.5cm; } */
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}