#container
  #header
    %h1
    #user-navigation
      %ul.wat-cf
        %li
          %a{href: "#"}
            %img{alt: "Dashboard", src: "icons/session/home.png", title: "Dashboard"}/
        %li
          %a{href: "#"}
            %img{alt: "Profile", src: "icons/session/account.png", title: "Profile"}/
        %li
          %a{href: "#"}
            %img{alt: "Preferences", src: "icons/session/config.png", title: "Preferences"}/
        %li
          %a{href: "#"}
            %img{alt: "Logout", src: "icons/session/logout.png", title: "Logout"}/
    #main-navigation
      %ul.wat-cf
        %li.first
          %a.anchor{href: "#block-text"} Main Page
        %li.active
          %a.anchor{href: "#block-text"} Active
        %li
          %a.anchor{href: "#block-login"} Login
        %li
          %a.anchor{href: "#block-signup"} Signup
  #wrapper.wat-cf
    #main
      #block-tables.block
        .secondary-navigation
          %ul.wat-cf
            %li.first.active
              %a{href: "#block-tables"} Tables
            %li
              %a{href: "#block-innernav"} Sub-nav
            %li
              %a{href: "#block-forms"} Forms
            %li
              %a{href: "#block-lists"} Lists
        .content
          .control
            %a.button{href: "#"}
              %img{alt: "Add", src: "icons/add.png"}/
              Add
            %a.button{href: "#"}
              %img{alt: "Remove", src: "icons/delete.png"}/
              Remove
          %h2.title Tables
          .inner
            %form.form{action: "#"}
              %table.table
                %tr
                  %th.first
                    %input.checkbox.toggle{type: "checkbox"}/
                  %th ID
                  %th Login
                  %th Name
                  %th Surname
                  %th.last
                %tr.odd
                  %td
                    %input.checkbox{name: "id", type: "checkbox", value: "1"}/
                  %td 1
                  %td hulk
                  %td Hulk
                  %td Hogan
                  %td.last
                    %a{href: "#"}
                      %img{alt: "Show", onmouseout: "this.src='icons/24/show.png'", onmouseover: "this.src='icons/24/show-hover.png?1279417407'", src: "icons/24/show.png", title: "Show"}/
                    %a{href: "#"}
                      %img{alt: "Edit", onmouseout: "this.src='icons/24/edit.png'", onmouseover: "this.src='icons/24/edit-hover.png'", src: "icons/24/edit.png", title: "Edit"}/
                    %a{href: "#"}
                      %img{alt: "Download", onmouseout: "this.src='icons/24/download.png'", onmouseover: "this.src='icons/24/download-hover.png'", src: "icons/24/download.png", title: "Download"}/
                %tr.even
                  %td
                    %input.checkbox{name: "id", type: "checkbox", value: "1"}/
                  %td 2
                  %td ultimate
                  %td Ultimate
                  %td Warrior
                  %td.last
                    %a{href: "#"}
                      %img{alt: "Show", onmouseout: "this.src='icons/24/show.png'", onmouseover: "this.src='icons/24/show-hover.png?1279417407'", src: "icons/24/show.png", title: "Show"}/
                    %a{href: "#"}
                      %img{alt: "Edit", onmouseout: "this.src='icons/24/edit.png'", onmouseover: "this.src='icons/24/edit-hover.png'", src: "icons/24/edit.png", title: "Edit"}/
                    %a{href: "#"}
                      %img{alt: "Download", onmouseout: "this.src='icons/24/download.png'", onmouseover: "this.src='icons/24/download-hover.png'", src: "icons/24/download.png", title: "Download"}/
                %tr.odd
                  %td
                    %input.checkbox{name: "id", type: "checkbox", value: "1"}/
                  %td 3
                  %td andre
                  %td Andre
                  %td The Giant
                  %td.last
                    %a{href: "#"}
                      %img{alt: "Show", onmouseout: "this.src='icons/24/show.png'", onmouseover: "this.src='icons/24/show-hover.png?1279417407'", src: "icons/24/show.png", title: "Show"}/
                    %a{href: "#"}
                      %img{alt: "Edit", onmouseout: "this.src='icons/24/edit.png'", onmouseover: "this.src='icons/24/edit-hover.png'", src: "icons/24/edit.png", title: "Edit"}/
                    %a{href: "#"}
                      %img{alt: "Download", onmouseout: "this.src='icons/24/download.png'", onmouseover: "this.src='icons/24/download-hover.png'", src: "icons/24/download.png", title: "Download"}/
                %tr.even
                  %td
                    %input.checkbox{name: "id", type: "checkbox", value: "1"}/
                  %td 4
                  %td machoman
                  %td Macho Man
                  %td Randy Savage
                  %td.last
                    %a{href: "#"}
                      %img{alt: "Show", onmouseout: "this.src='icons/24/show.png'", onmouseover: "this.src='icons/24/show-hover.png?1279417407'", src: "icons/24/show.png", title: "Show"}/
                    %a{href: "#"}
                      %img{alt: "Edit", onmouseout: "this.src='icons/24/edit.png'", onmouseover: "this.src='icons/24/edit-hover.png'", src: "icons/24/edit.png", title: "Edit"}/
                    %a{href: "#"}
                      %img{alt: "Download", onmouseout: "this.src='icons/24/download.png'", onmouseover: "this.src='icons/24/download-hover.png'", src: "icons/24/download.png", title: "Download"}/
              .pagination
                %span.disabled.prev_page « Previous
                %span.current 1
                %a{href: "#", rel: "next"} 2
                %a{href: "#"} 3
                %a{href: "#"} 4
                %a{href: "#"} 5
                %a.next_page{href: "#", rel: "next"} Next »
            %form.search{action: "#"}
              .columns.wat-cf
                .column.right
                  %input.search_submit{name: "commit", value: ""}/
                  %input#search.search_box{name: "search", onblur: "if (!value) { value = 'Search' }", onfocus: "if (value == 'Search') { value = '' }", type: "text", value: "Search"}/
            .wat-cf
      #block-innernav.block
        .secondary-navigation
          %ul.wat-cf
            %li.first
              %a{href: "#block-tables"} Tables
            %li.active
              %a{href: "#block-innernav"} Sub-nav
            %li
              %a{href: "#block-forms"} Forms
            %li
              %a{href: "#block-lists"} Lists
        .content
          %h2.title
            Cicero
          .control{style: "margin-top:-7px; margin-right:8px;"}
            %a.button{href: "#"}
              %img{alt: "Export", src: "icons/pdf.png"}/
              Export list
          .inner
            %h3.title
              Finibus
            %table.table{style: "margin-bottom: 0px;"}
              %tr
                %th Reference
                %th Param 1
                %th Param 2
                %th Param 3
                %th Param 4
                %th Param 5
                %th Param 6
                %th Time
                %th.last{style: "width:40px;"}
              %tr.even
                %td
                  %a.anchor{href: "#tempore"} Tempore
                %td 21
                %td 21
                %td 0
                %td 6
                %td 4
                %td 8
                %td -
                %td.last
                  %a.anchor{href: "#tempore"}
                    %img{alt: "Malorum", onmouseout: "this.src='icons/24/anchor.png'", onmouseover: "this.src='icons/24/anchor-hover.png'", src: "icons/24/anchor.png", title: "Malorum"}/
              %tr.odd
                %td
                  %a.anchor{href: "#tempore"} Soluta
                %td 0
                %td 0
                %td 0
                %td 0
                %td 0
                %td 0
                %td -
                %td.last
                  %a.anchor{href: "#tempore"}
                    %img{alt: "Malorum", onmouseout: "this.src='icons/24/anchor.png'", onmouseover: "this.src='icons/24/anchor-hover.png'", src: "icons/24/anchor.png", title: "Malorum"}/
              %tr.even
                %td{style: "font-style: italic;"} Total
                %td 21
                %td 21
                %td 0
                %td 6
                %td 4
                %td 8
                %td -
                %td.last
          .control{style: "margin-top:2px; margin-right:8px;"}
            %a.button{href: "#"}
              %img{alt: "Add item", src: "icons/add.png"}/
              Add item
            %a.button{href: "#"}
              %img{alt: "Send email", src: "icons/send-mail.png"}/
              Send email
          .inner
            %h3.title
              Bonorum
            .block-norounded
              #mask
                .secondary-inner-nav
                  %ul.wat-cf
                    %li.first.active
                      %a{href: "#"} Neque
                    %li
                      %a{href: "#"} Quisquam
                    %li
                      %a{href: "#"} Dolorem
                    %li
                      %a{href: "#"} Ipsum
                    %li
                      %a{href: "#"} Dolor
                    %li
                      %a{href: "#"} Consectetur
                .inner
                  %h4#tempore.title
                    Malorum
                  %table.table
                    %tr
                      %td There is no spoon
                  .wat-cf
        .breadcrumb
          %ul
            %li.first
              %a{href: "#"} Lorem
            %li
              %a{href: "#"} Ipsum
            %li
              %a{href: "#"} Dolor
            %li
              %a{href: "#"} Sit
            %li
              %a{href: "#"} Ammet
            %li.active Consectetur
      #block-forms.block
        .secondary-navigation
          %ul.wat-cf
            %li.first
              %a{href: "#block-tables"} Tables
            %li
              %a{href: "#block-innernav"} Sub-nav
            %li.active
              %a{href: "#block-forms"} Forms
            %li
              %a{href: "#block-lists"} Lists
        .content
          .control
            %a.button{href: "#"}
              %img{alt: "Show", src: "icons/show.png"}/
              Show
          %h2.title Forms
          .inner
            %form.form{action: "#", method: "get"}
              .group
                %label.label Text field
                %input.text_field{type: "text"}/
                %span.description Ex: a simple text
              .group
                .fieldWithErrors
                  %label.label Title
                  %span.error cant be blank
                %input.text_field{type: "text"}/
              .group
                %label.label Text area
                %textarea.text_area{cols: "80", rows: "10"}
                %span.description Write here a long text
              .group
                %label.label Upload a file
                %input{type: "file"}/
              .group.navform.wat-cf
                %button.button{type: "submit"}
                  %img{alt: "Save", src: "icons/tick.png"}/
                  Save
                %a.button{href: "#header"}
                  %img{alt: "Cancel", src: "icons/cross.png"}/
                  Cancel
      #block-lists.block
        .secondary-navigation
          %ul.wat-cf
            %li.first
              %a{href: "#block-tables"} Tables
            %li
              %a{href: "#block-innernav"} Sub-nav
            %li
              %a{href: "#block-forms"} Forms
            %li.active
              %a{href: "#block-lists"} Lists
        .content
          %h2.title Lists
          .inner
            %ul.list
              %li
                .left
                  %a{href: "#"}
                    %img.avatar{alt: "avatar", src: "images/avatar.png"}/
                .item
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %li
                .left
                  %a{href: "#"}
                    %img.avatar{alt: "avatar", src: "images/avatar.png"}/
                .item
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %li
                .left
                  %a{href: "#"}
                    %img.avatar{alt: "avatar", src: "images/avatar.png"}/
                .item
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      #footer
        %p David Francisco / hello@dmfranc.com / activo.dmfranc.com
    #sidebar
      .block
        %h3 Examples
        %ul.navigation
          %li
            %a.anchor{href: "#block-tables"} Tables
          %li
            %a.anchor{href: "#block-innernav"} Sub-nav
          %li
            %a.anchor{href: "#block-forms"} Forms
          %li
            %a.anchor{href: "#block-lists"} Lists
      .block.notice
        %h4 Notice Title
        %p Morbi posuere urna vitae nunc. Curabitur ultrices, lorem ac aliquam blandit, lectus eros hendrerit eros, at eleifend libero ipsum hendrerit urna. Suspendisse viverra. Morbi ut magna. Praesent id ipsum. Sed feugiat ipsum ut felis. Fusce vitae nibh sed risus commodo pulvinar. Duis ut dolor. Cras ac erat pulvinar tortor porta sodales. Aenean tempor venenatis dolor.
      .block
        .sidebar-block
          %h4 Credits
          %p
            %a{href: "http://pixelmatrixdesign.com/uniform/"} Jquery Uniform
            \ - Uniform look and feel of form elements between browsers
          %p
            %a{href: "http://glyphish.com/"} Glyphish iconset
            \ - Icons of the top-right corner
          %p
            %a{href: "http://gentleface.com/free_icon_set.html"} Gentleface Wireframe Toolbar Icons
            \ - Logout icon
          %p
            %a{href: "http://www.josbuivenga.demon.nl/museo.html"} Museo font
            \ - Sans 500, Sans 500 Italic, 700
          %p
            %a{href: "http://dribbble.com/"} Dribbble.com
            \ - Great place to find inspiration
          %p
            %a{href: "http://p.yusukekamiyamane.com/"} Fugue icons
            \ - Iconset by Yusuke Kamiyamane
          %p
            %a{href: "http://mynameisraj.com/"} Raj Ramamurthy
            \ - Made the dropdown menu and helped me with the buttons!
          %p
            %a{href: "http://gravityblast.com/"} Andrea Franz
            \ - He is the author of the web-app-theme rails plugin
          %p
            %a{href: "https://github.com/creationix/haml-js/"} Haml-Js
            \ - The haml to html converter I used on this demo
          %p
            %a{href: "http://codemirror.net/"} Codemirror
            \ - The syntax highlighter I used on this demo
