.hello{ style: 'background: #50555F' }
  .flash{ style: 'padding: 6px'}
    .message.notice
      %p This is a screenshot showing how the theme should look in your browser
  .screenshot{ style: 'text-align:center' }
    %img{src: 'images/activo-screenshot.png'}/
