#desk {
  margin: 50px auto 50px auto;
  max-width: 1000px;
}
#paper {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 16px;
  line-height: 24px;
  color: #252519;
  padding: 50px;
  margin: 50px;
  background: #fff;
  min-height:1500px;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #777;
}
#paper a {
  color: #261a3b;
}
#paper a:visited {
  color: #261a3b;
}
#paper pre, #paper tt, #paper code {
  font-size: 12px; line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}
