.clear { clear: both; height: 0; }

.wat-cf:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}

.wat-cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .wat-cf {height: 1%;}
.wat-cf {display: block;}
/* End hide from IE-mac */

hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

body {
  font-size: 12px;
  color: #111;
  background: #c4c4c4 url("../images/bgd.png");
  font-family: helvetica, arial, sans-serif
}

a:link,a:visited,a:hover,a:active {
  color: #111
}
a {
  -moz-outline: none
}
hr {
  background: #ddd;
  color: #ddd
}
